.ExercisePage .button {
  display: flex;
}
.ExercisePage .button button {
  flex: 1;
}

.smaller-img {
  width: 200px;
  height: auto;
}

.ExercisePage .button button {
  flex: 1;
}
/* <style> */
.css-ez23ye {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-10);
  min-width: var(--chakra-sizes-10);
  font-size: var(--chakra-fontSizes-md);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  background: var(--chakra-colors-gray-100);
  color: var(--chakra-colors-gray-800);
}

:root,
[data-theme] {
  --chakra-ring-inset: var(--chakra-empty, /*!*/ /*!*/);
  --chakra-ring-offset-width: 0px;
  --chakra-ring-offset-color: #fff;
  --chakra-ring-color: rgba(66, 153, 225, 0.6);
  --chakra-ring-offset-shadow: 0 0 #0000;
  --chakra-ring-shadow: 0 0 #0000;
  --chakra-space-x-reverse: 0;
  --chakra-space-y-reverse: 0;
  --chakra-colors-transparent: transparent;
  --chakra-colors-current: currentColor;
  --chakra-colors-black: #000000;
  --chakra-colors-white: #ffffff;
  --chakra-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);

  --chakra-transition-property-position: left, right, top, bottom;
  --chakra-transition-property-background: background-color, background-image,
    
}
.buttonContainer {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;

  height: 20vh;
  padding-top: 10vh;
  position: relative;

}

.AddExerciseButton {
  display: inline-block;
  /* justify-content: center; */
  position: relative;
  margin: 770px;

  padding: 10px 20px;
  background-color: #319795;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.AddExerciseButton:hover {
  background-color: #206994;
}


.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.exercise-heading {
  margin-bottom: 20px;
}

.exercise-heading h2 {
  font-size: 24px;
  font-weight: bold;
}

.exercise-feed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-button-container {
  margin-top: 20px;
}

.exercise-button {
  padding: 10px 20px;
  border: none;
  background-color: #319795;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

.exercise-button:hover {
  background-color: #238583;
}

.exercise-heading {
  background-color: #319795;
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-top: 0;
}

.exercise-heading h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
